---
import Layout from '../layouts/Layout.astro';
import Etiqueta from '../components/Etiqueta.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			Practice HTML
		</h1>
		<h2>Etiquetas de Agrupacion</h2>

		<Etiqueta title='div' body='Etiqueta que sirve para agrupar elementos dentro de un bloque'>
			<div style="background-color: blue">Etiqueta div 1.</div>
			<div style="background-color: blue">Etiqueta div 2.</div>
		</Etiqueta>
		<Etiqueta title='span' body='Etiqueta que sirve para agrupar elemetos dentro de una linea'>
			<span style="background-color: red">Etiqueta span 1.</span>
			<span style="background-color: red">Etiqueta span 2.</span>
		</Etiqueta>
		<Etiqueta title='ul' body='Etiqueta para listar una lista no ordenada'>
			<ul>
				<li>etiqueta li 1</li>
				<li>etiqueta li 2</li>
				<li>etiqueta li 3</li>
			</ul>
		</Etiqueta>
		<Etiqueta title='ol' body='Etiqueta para listar una lista ordenada'>
			<ol>
				<li>etiqueta li 1</li>
				<li>etiqueta li 2</li>
				<li>etiqueta li 3</li>
			</ol>
		</Etiqueta>
		<Etiqueta title='blockquote' body='Etiqueta que crea un cuadro para citar'>
			<blockquote>
				<p>etiqueta dentro de blockquote</p>
				<footer>
					<cite>Autor</cite> en<cite>Titulo</cite>
				</footer>
			</blockquote>
		</Etiqueta>
		<Etiqueta title='pre' body='Etiqueta que respeta espacios y saltos de linea'>
		<pre>
			<code class="language-javascript">
function mensaje(str)&#123;
	console.log(str);
&#125;
		</code>
		</pre>
		</Etiqueta>
		<Etiqueta title='dl' body='Etiqueta para listas de descripcion'>
			<dl>
				<dt>Gallina</dt>
				<dd>Ave doméstica del orden de las galliformes.</dd>
				<dd>Cobarde, pusilánime.</dd>
			</dl>
		</Etiqueta>
		<Etiqueta title='figure' body='Etiqueta para imagenes  con su respectiva leyenda'>
			<figure>
				<img src="/html5.png" alt="Logotipo de HTML5">
				<figcaption>Logotipo oficial del lenguaje de marcas HTML5.</figcaption>
			</figure>
		</Etiqueta>

		<h2>Etiquetas Multimedia</h2>
		<Etiqueta title='img' body='Etiqueta que permite incluir una imagen'>
			<img src="/html5.png" alt="imagen del logo de html5">
		</Etiqueta>
		<Etiqueta title='picture' body='Etiqueta que permite mostrar imagen de forma dinamica segun sea el tamaño de la pantalla'>
			<picture>
				<source media="(width < 600px)"
						srcset="html5-2.jpeg">
				<img src="/html5.png" alt="HTML5 logo">
			  </picture>
		</Etiqueta>
		<Etiqueta title='video' body='Etiqueta para mostrar video'>
			<video src="/Meilleur.mp4" width="800px" autoplay></video>
		</Etiqueta>
		<Etiqueta title='audio' body='Etiqueta que se utiliza para reproducir audio'>
			<audio controls src="/NightOver.mp3"></audio>
		</Etiqueta>
		<Etiqueta title='track' body='Etiqueta para poner subtitulos a video y audio(no soportado)'>
			<audio controls src="/NightOver.mp3">
				<track src="/NightOver.vtt" srclang="en">
			</audio>
		</Etiqueta>
		<Etiqueta title='iframe' body='Etiqueta para insertar contenido externo a nuestra pagina'>
			<iframe src="https://www.youtube.com/embed/FHT3xNYZU8o" width="800"></iframe>
		</Etiqueta>
		<h2>Etiquetas de Texto</h2>
		<Etiqueta title='a' body='Etiqueta que hace referencias a otros sitios web o recursos'>
			<a href="https://manz.dev/">Youtube</a>
		</Etiqueta>
		<Etiqueta title='strong' body='Etiqueta que pone Negrita para resaltar importancia en un parrafo'>
			<p>La palabra importante es <strong>Strong</strong>, b solo se utiliza para marcar negrita</p>
		</Etiqueta>
		<Etiqueta title='em' body='Etiqueta utilizada para dar enfasis'>
			<p>La palabra de enfasis es <em>em</em>, i solo es para cursiva </p>
		</Etiqueta>
		<Etiqueta title='mark' body='Etiqueta que permite resaltar un texto'>
			<p>Resaltando <mark>mark</mark>, u solo subraya</p>
		</Etiqueta>
		<Etiqueta title='s' body='Etiqueta que marca textos'>
			<p>La palabra marcada es <s>s</s>, no ins o del que tienen otro significado semantico</p>
		</Etiqueta>
		<Etiqueta title='q' body='Etiqueta utilizada para citar frases'>
			<p><q>El espacio-tiempo es relativo</q> lo dijo <cite>albert einstein</cite></p>
		</Etiqueta>
		<Etiqueta title='sup' body='etiqueta para indicar superindice'>
			<p>sup se utiliza en 2<sup>2</sup>, mientras que sub se utiliza en H<sub>2</sub>O</p>
		</Etiqueta>
		<Etiqueta title='small' body='Etiqueta que sirve para realizar aclaraciones'>
			<p>Html es un lenguje de marcado. <small>esta disponible en la web</small>, tambien existe la etiqueta <big>big</big></p>
		</Etiqueta>
		<Etiqueta title='br' body='Etiqueta de salto de linea obligatorio a diferencia de wbr'>
			<p>palabra antes del br<br>palabra del medio<wbr> palabra despues del wbr </p>
		</Etiqueta>
		<Etiqueta title='kbd' body='Etiqueta que hace referencia entrada de datos'>
			<p>todo teclado tiene uno o dos <kbd>CTRL</kbd>, la Etiqueta samp es similar solo que para salida de datos</p>
		</Etiqueta>
		<Etiqueta title='abbr' body='Etiqueta que indica abreviatura'>
			<p>Tengo 20 <abbr title="Kilometros">Km</abbr>, otra similar es <dfn>dfn</dfn></p>
		</Etiqueta>
		<Etiqueta title='time' body='Etiqueta que permite indicar una fecha u hora'>
			<p><time datetime="2024-01-04">4 de Enero de 2024</time></p>
		</Etiqueta>
		<Etiqueta title='data' body='Etiqueta que permite indicar un dato especifico'>
			<p>una variable <var>X</var> en 
				<data value="ESDLA3">El retorno del Rey</data>
			</p>
		</Etiqueta>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
