---
import Layout from '../layouts/Layout.astro';
import Etiqueta from '../components/Etiqueta.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>
			Practice HTML
		</h1>
		<h2>Etiquetas de Agrupacion</h2>

		<Etiqueta title='div' body='Etiqueta que sirve para agrupar elementos dentro de un bloque'>
			<div style="background-color: blue">Etiqueta div 1.</div>
			<div style="background-color: blue">Etiqueta div 2.</div>
		</Etiqueta>
		<Etiqueta title='span' body='Etiqueta que sirve para agrupar elemetos dentro de una linea'>
			<span style="background-color: red">Etiqueta span 1.</span>
			<span style="background-color: red">Etiqueta span 2.</span>
		</Etiqueta>
		<Etiqueta title='ul' body='Etiqueta para listar una lista no ordenada'>
			<ul>
				<li>etiqueta li 1</li>
				<li>etiqueta li 2</li>
				<li>etiqueta li 3</li>
			</ul>
		</Etiqueta>
		<Etiqueta title='ol' body='Etiqueta para listar una lista ordenada'>
			<ol>
				<li>etiqueta li 1</li>
				<li>etiqueta li 2</li>
				<li>etiqueta li 3</li>
			</ol>
		</Etiqueta>
		<Etiqueta title='blockquote' body='Etiqueta que crea un cuadro para citar'>
			<blockquote>
				<p>etiqueta dentro de blockquote</p>
				<footer>
					<cite>Autor</cite> en<cite>Titulo</cite>
				</footer>
			</blockquote>
		</Etiqueta>
		<Etiqueta title='pre' body='Etiqueta que respeta espacios y saltos de linea'>
		<pre>
			<code class="language-javascript">
function mensaje(str)&#123;
	console.log(str);
&#125;
		</code>
		</pre>
		</Etiqueta>
		<Etiqueta title='dl' body='Etiqueta para listas de descripcion'>
			<dl>
				<dt>Gallina</dt>
				<dd>Ave doméstica del orden de las galliformes.</dd>
				<dd>Cobarde, pusilánime.</dd>
			</dl>
		</Etiqueta>
		<Etiqueta title='figure' body='Etiqueta para imagenes  con su respectiva leyenda'>
			<figure>
				<img src="/html5.png" alt="Logotipo de HTML5">
				<figcaption>Logotipo oficial del lenguaje de marcas HTML5.</figcaption>
			</figure>
		</Etiqueta>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
